[submodule "ironpython3"]
	path = ironpython3
	url = https://github.com/IronLanguages/ironpython3.git
[submodule "FluentAvalonia"]
	path = FluentAvalonia
	url = https://github.com/amwx/FluentAvalonia.git
